/* Google Fonts Imports */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* RootVars */
:root {
  --color-card-and-qr: hsl(0, 0%, 100%);
  --color-paragraph-and-bg: hsl(212, 45%, 89%);
  --color-bg-qr-code: hsl(220, 15%, 55%);
  --color-bold-text: hsl(218, 44%, 22%);
  --font-default: "Outfit", sans-serif;
}

/* 
- Dark blue:  */

/* GlobalSets */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* PageContentSets */
.page-content {
  height: 100vh;
  background-color: var(--color-paragraph-and-bg);

  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.qr-code-card {
  /* Styles Colors */
  background-color: var(--color-card-and-qr);

  /* Expressure */
  width: 300px;
  height: 460px;

  /* Border */
  border: none;
  border-radius: 15px;

  padding: 1rem;
}

/* QR code img */
.qr-code {
  width: 100%;
}

.qr-code img {
  /* Border */
  border-radius: 10px;

  /* Cover IMG */
  object-fit: cover;

  /* Expressure */
  width: 100%;
  height: 90%;
}

/* TextContent */
.text-content {
    letter-spacing: 1px;
    width: 100%;
  margin: 22px auto;
  /* FontSetStyle  */
  font-family: var(--font-default);

  text-align: center;
}

/* Bold only first child */
.text-content p:first-child {
  font-weight: 700;
  font-size: 15pt;
  
  text-align: center;

  margin-bottom: 16px;

  color: var(--color-bold-text);
}

/* Light only last child */
.text-content p:last-child {
  font-weight: 400;
  color: var(--color-bg-qr-code);
}


/* attribution */

.attribution {
    font-family: var(--font-default);
    text-align: center;
    width: 300px;
    margin-top: 6px;
}

.attribution a{
    text-decoration: underline;
    text-decoration-color: black;
    color: var(--color-bold-text);
}

.attribution a:hover {
    color: rgb(13, 35, 158);
}

@media screen and (max-width: 375px) {
    .page-content {
        padding: 15px;
    }

    .qr-code-card {
        width: calc(100% - 30px);
        height: 100vh;
    }
}